<%- include('back-to-top') %>

<div clsss="page-frame">

  <%- include('navbar') %>

  <div class="view-wrapper">
    <div class="main-view<%= doc.navHidden ? ' no-sidebar' : '' %>">

      <% if (!doc.navHidden) { %>
      <%- include('sidebar') %>
      <% } %>

      <div class="content">
        <%- include('noscript') %>
        <%- include('breadcrumbs') %>

        <div id="main-content">
          <%- htmlContent %>
        </div>
      </div>

    </div>
  </div>
</div>

<%- include('footer') %>
