<div class="footer">
  <div class="links">

    <div class="navigation-links">
      <h3>Navigation</h3>
      <a href="<%= url('index.html') %>">Home</a><br/>
      <a href="<%= url('about.html') %>">About</a><br/>
      <!--
      <a href="<%= url('faqs.html') %>">FAQs</a><br/>
      <a href="<%= url('wiki/index.html') %>">Wikis</a><br/>
      <a href="<%= url('blogs/index.html') %>">Blogs</a><br/>
      <a href="<%= url('notes/index.html') %>">Notes</a><br/>
      -->
    </div>

    <div class="utility-links">
      <h3>Utility</h3>
      <% if (doc.prevPage) { %>
      <a href="<%= url(doc.prevPage) %>">Previous page</a><br/>
      <% } %>
      <% if (doc.nextPage) { %>
      <a href="<%= url(doc.nextPage) %>">Next page</a><br/>
      <% } %>
      <a href="https://github.com/vytdev/vytdev.github.io/edit/master/src/<%=
         doc.srcPath %>" target="_blank">Edit this page</a><br/>
      <a href="https://github.com/vytdev/vytdev.github.io/blob/master/src/<%=
         doc.srcPath %>" target="_blank">View source</a><br/>
    </div>

    <div class="contact-links">
      <h3>Contact</h3>
      <a target="_blank" href="https://github.com/vytdev">GitHub</a><br/>
      <a target="_blank" href="https://www.facebook.com/vytdev">
         Facebook</a><br/>
      <a target="_blank" href="<%= url('contact.html') %>">E-mail</a><br/>
    </div>

    <div class="legal-links">
      <h3>Legal</h3>
      <a href="<%= url('license.html') %>">License</a><br/>
      <a href="<%= url('disclaimer.html') %>">Disclaimer</a><br/>
      <a href="<%= url('privacy.html') %>">Privacy Policy</a><br/>
      <a href="<%= url('terms.html') %>">Terms of Use</a><br/>
      <a href="<%= url('cookie.html') %>">Cookie Statement</a><br/>
    </div>

  </div>
  <div class="description-grid">
    <div class="brand-div">
      <img alt="logo" type="text/svg+xml" width="96px" height="96px"
           src="<%= url('assets/logo.svg') %>" />
      <h1>VYT Hub</h1>
      <p><em>A personal knowledge hub.</em></p>
    </div>
    <div class="license-notice">

  <!-- license notice -->
  <p>&copy; 2023-2025 <a href="https://github.com/vytdev">Vincent Yanzee
  J. Tan</a>.</p>

  <p>The articles, images, media files, and other forms of creative
  works within this website are licensed under the
  <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
  CC-BY-4.0 License</a>.</p>

  <p>The source code of this website, such as the scripts, stylesheets,
  and others are separately licensed under the
  <a href="https://opensource.org/licenses/MIT" target="_blank">
  MIT License</a>.</p>

    </div>
  </div
</div>
