<!-- metadata -->
<title><%= doc.title %></title>
<meta name="description" content="<%= doc.about %>" />
<meta name="revised" content="<%= doc.updated %>" />
<meta name="author" content="<%= doc.authors.join(', ') %>" />

<!-- open graph -->
<meta property="og:title" content="<%= doc.title %>" />
<meta property="og:description" content="<%= doc.about %>" />
<meta property="og:url" content="<%= doc.canonical %>" />
<meta property="og:site_name" content="VYT Hub" />
<meta property="og:type" content="website" />
<meta name="og:locale" content="en_US" />

<!-- twitter -->
<meta property="twitter:title" content="<%= doc.title %>" />
<meta name="twitter:card" content="summary" />

<!-- google and other seo -->
<meta name="language" content="en" />
<meta name="robots" content="index,follow" />
<meta name="generator" content="VYT Hub Static Generator" />
<meta name="keywords" content="<%= doc.tags.join(', ') %>" />
<link rel="canonical" href="<%= doc.canonical %>" />
<link rel="EditURI" href="https://github.com/vytdev/vytdev.github.io/edit/master/src/<%= doc.srcPath %>" />


<% if (doc.prevPage) { %><link rel="prev" href="<%= doc.prevPage %>" /><% } %>
<% if (doc.nextPage) { %><link rel="next" href="<%= doc.nextPage %>" /><% } %>

<script type="application/json+ld">
<%- JSON.stringify({
  "@context": "https://schema.org/",
  "@type": doc.path == 'index.html' ? 'WebSite' : 'WebPage',
  "title":          doc.title,
  "headline":       doc.title,
  "description":    doc.about,
  "datePublished":  doc.published,
  "dateModified":   doc.updated,
  "image":          doc.thumbnail || undefined,
  "keywords":       doc.tags.join(', '),
  "author": doc.authors.map(v => ({
    "@type": "Person",
    "name": v,
    "sameAs": `https://github.com/${v}`,
  })),
  "publisher": {
    "@type": "Organization",
    "name": "VYT Hub",
    "url": `https://${config.SITE_ADDRESS}`,
    "logo": `https://${config.SITE_ADDRESS}/assets/img/icon-1024x1024.png`,
  },
}) %>
</script>

<!-- page information -->
<script type="text/javascript">
var pageInfo = <%- JSON.stringify(doc); %>
</script>

